.header{
  padding: 30px 80px 40px;
  background-color:#fff;
background-image: url(../images/se_project_2_files/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 800px;
  flex-direction: column;
  display: flex;

}
.header__title{
margin: 183px 0 0;
max-width: 729px;
font-family: "Inter", Arial, sans-serif;
font-weight: 500;
font-size: 60px;
line-height: 72px;
letter-spacing: -0.6px;
}
.header__span-accent{
  display: block;
  font-family: "Noto Serif";
font-style: italic;
font-weight: normal;
font-size: 60px;
line-height: 72px;
color: #3F96F3;
}
  .header__description{
    margin: 24px 0 0;
    max-width: 683px;
    font-family: "Noto Serif", "times new roman", serif;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
  }
  .header__image{
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
  }
  .header__footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header__paragraph{
    margin: 0;
  }